@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Data Management System</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to DMS</h2>
        <p>
            This Database Management System is built for any retail store to help keep track of their records of necessary information.
            This DMS could be used for any retail purpose.
        </p>
    </div>
</div>